-#%h2 RAM
-#%table
-#  %tr
-#    %th #Toplam
-#    %th #Kullanılan
-#    %th #Boş
-#  %tr
-#    - @mem_info.each do |i|
-#      %td{:style => "text-align: center"}
-#        = i + "MB"

%h2 CPU
%table{:width => "600px"}
  %tr
    %th #Uptime
    %th #Ort. Load(1 Dak.)
    %th #Ort. Load(5 Dak.)
    %th #Ort. Load(15 Dak.)
  %tr
    %td{:style => "text-align: center"}= @uptime
    - @cpu_info.each do |i|
      %td{:style => "text-align: center"}
        \%#{i}

%table.table-hover
  %tr
    %th{:style => "width: 200px;text-align: right;"}
      %strong RAM
    %td
      - ratio = (@mem_info[1].to_f * 100.0 / @mem_info[0].to_f).round.to_s
      .progress.progress-striped.active{:style =>"margin-bottom: 0px; width: 290px;"}
        .bar{:style => "width: #{ratio}%;"}
          = "%" + ratio
    %td{:style => "width: 400px;text-align: left;"}
      Toplam: #{@mem_info[0]}MB Kullanılan: #{@mem_info[1]}MB Boşta: #{@mem_info[2]}MB

-#%h2 Disk
-#%table
-#  %tr
-#    %th #Disk
-#    %th #Toplam
-#    %th #Kullanılan
-#    %th #Boş
-#    %th #Oran
-#    %th #Mount
-#  - @fs.each do |i|
-#    %tr
-#      - k = 0
-#      - i.each do |j|
-#        %td{:style => "text-align: center"}= j

%table.table-hover
  - @fs.each do |i|
    %tr
      %th{:style => "width: 200px;text-align: right;"}
        %strong Disk: #{i[0]}
      %td
        - ratio = (@mem_info[2].to_f * 100.0 / @mem_info[1].to_f).round.to_s
        .progress.progress-striped.active{:style =>"margin-bottom: 0px; width: 290px;"}
          .bar{:style => "width: #{ratio}%;"}
            = "%" + ratio
      %td{:style => "width: 400px;text-align: left;"}
        Toplam: #{i[1]}MB Kullanılan: #{i[2]}MB Boşta: #{i[3]}MB